@define-color background rgba(76, 86, 106, 0.8);
@define-color bgc #1a1b26;
/* bluebyt bg */
@define-color background-alt #2e3440;
@define-color foreground #c0caf5;
@define-color inactive #6f7787;
@define-color text-muted #d8dee9;
@define-color red #f7768e;
@define-color green #9ece6a;
@define-color blue #7aa2f7;
@define-color cyan #7dcfff;
@define-color purple #bb9af7;
@define-color orange #e0af68;

@define-color selection_background #283457;
@define-color selection_foreground #c0caf5;
@define-color active_selection_background #7aa2f7;
@define-color active_selection_foreground #16161e;


* {
  border: none;
  border-radius: 0;
  font-family: "Maple Mono", "MartianMono Nerd Font";
  font-size: 11px;
  min-height: 0;
}

window#waybar {
  background: rgba(26, 27, 38, 0.3);
  color: @foreground;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 0 5px;
}

tooltip {
  background-color: @background-alt;
  border: 1px solid @foreground;
  padding: 8px;
  border-radius: 8px;
  color: @foreground;
}

/* === Workspaces === */
#workspaces {
  background: @bgc;
  margin: 4px;
  padding: 2px;
  border-radius: 16px;
}

#workspaces button {
  padding: 0px 5px;
  margin: 2px 3px;
  border-radius: 16px;
  background-color: @selection-background;
  color: @selection_foreground;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @active_selection_foreground;
  background-color: @active_selection_background;
  border-radius: 16px;
  min-width: 30px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

/* === Modules === */
#clock,
#pulseaudio,
#network,
#custom-docker,
#custom-updates,
#custom-notification,
#language,
#sensors,
#disks {
  background-color: @background-alt;
  border-radius: 16px;
  margin: 7px 3px;
  padding: 0px 20px;
  font-weight: 800;
}

/* === Special Module Colors === */
#sensors #custom-cpu-top {
  color: @foreground;
  padding-right: 10px;
}

#sensors #memory {
  color: @foreground;
  padding-right: 10px;
}


#sensors #temperature {
  color: @foreground;
}

#sensors #temperature.critical {
  color: @red;
}

#disks #custom-storage {
  color: @foreground;
  padding-right: 10px;
}

#disks #custom-storage.warning,
#disks #custom-home-storage.warning {
  color: @orange;
}

#disks #custom-storage.critical,
#disks #custom-home-storage.critical {
  color: @red;
}

#language {
  color: @green;
}

#network {
  color: @foreground;
}

#pulseaudio {
  color: @orange;
}

#pulseaudio.muted {
  color: @red;
}

#custom-updates {
  color: @orange;
}

#custom-updates.updated {
  color: @blue;
}

#custom-notification {
  color: @purple;
}

#custom-docker.running {
  color: @blue;
}

#custom-docker.stopped {
 color: @foreground;
}
