@import url("./colors.css");
* {
    border: none;
    border-radius: 0;
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-family:
        FontAwesome,
        MartianMono Nerd Font;
    font-size: 10px;
    min-height: 0;
}
window#waybar {
    opacity: 1;
    padding: 0;
    margin: 0;
    background: @background-darker;
    /* background: transparent; */
    color: @foreground;
    /* border-bottom: 1px solid @purple; */
}

tooltip {
    background-color: @background-darker;
    border: 2px solid @purple;
    font-size: 2px;
}

#clock,
#tray,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#custom-notification,
#language {
    margin: 0px 5px 0px 5px;
    font-weight: 600;
    padding: 0;
    /* border-bottom: 2px solid; */
}

#clock {
    border-bottom: 1px solid @purple;
}

#custom-notification {
    color: @white;
    font-size: 14px;
    margin-right: 20px;
    margin-left: 5px;
}

#network {
    font-size: 11px;
    margin-left: 20px;
}

#pulseaudio {
    border-bottom: 1px solid @green;
}

#language {
    /* font-size: 12px; */
    font-weight: 400;
    border-bottom: 1px solid @cyan;
}

#sensors,
#custom-updates {
    background: @backround;
    color: @white;
    padding: 0 5px;
    border-bottom: 1px solid @purple;
}

#tray {
    border-bottom: 1px solid @orange;
    padding: 0 10px;
}
