@import url("./colors.css");
* {
  border: none;
  border-radius: 0;
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-family: FontAwesome, MartianMono Nerd Font;
  font-size: 10px;
  min-height: 0;
}
window#waybar {
  opacity: 1;
  padding: 0;
  margin: 0;
  background: @background-alpha;
  /* background: transparent; */
  color: @foreground;
  /* border-bottom: 1px solid @purple; */
}

.modules-left,
.modules-center,
.modules-right {
  background: transparent;
  margin: 5px 5px;
}

tooltip {
  background-color: @background-darker;
  border: 2px solid @purple;
  font-size: 12px;
}

#workspaces button,
#system,
#tray,
#sensors,
#network,
#pulseaudio,
#custom-updates,
#custom-notification,
#custom-docker {
  background: @selection;
  font-weight: 700;
  margin: 4px;
  padding: 0px 4px;
  border-radius: 5px;
}

#sensors #cpu,
#sensors #memory,
#sensors #temperature {
  margin: 2px 6px;
}

#sensors #cpu {
  color: @foreground;
}

#sensors #memory {
  color: @foreground;
}

#sensors #temperature {
  color: @foreground;
}

#sensors #temperature.critical {
  color: @red;
}

#sensors #disk {
  color: @foreground;
}

#workspaces button {
  background: @selection;
  color: @foreground;
}

#workspaces button.active {
  background: @purple;
  color: @foreground;
  font-weight: bold;
}

#workspaces button:hover {
  background: @pink;
}

#system #clock,
#network,
#system #language,
#custom-notification {
  margin: 4px 6px;
}

#custom-notification {
  color: @pink;
  font-size: 10px;
  padding: 0 10px;
}

#network {
  font-size: 11px;
  padding: 0 10px 0 7px;
  color: @green;
}

#system #language {
  color: @purple;
}

#system #clock {
  color: @purple;
}

#pulseaudio {
  color: @orange;
}

#pulseaudio.muted {
  color: @red;
}

#custom-updates {
  color: @yellow;
}

#custom-docker {
  color: @cyan;
}
